.container {
    display: flex;
    padding: 24px;

    gap: 20px;
}

.column {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.leftWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
