.container {
    width: 100vw;
    height: 100%;
    padding: 24px 24px;
    user-select: none;
    background-color: #aeaeae;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: inherit;
}

.pages {
    display: flex;
    gap: 20px;
}

.right {
    display: flex;
    gap: 12px;
    align-items: center;
}
